body{
    /* background:#daf1fc url(/images/bg.png) repeat-x; */
    background-color: white;
    font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 320;
  font-style: normal;
}
#logo{
    position:absolute;
    left:5px;
    top:5px;
    width:725px;
    height:90px;
    /* border: solid  1px; */
    /* background-color: #ddcfa5; */
}

a {color:#b0a499; text-decoration:none; border-bottom:none}
a:visited {color:#b0a499}
a:hover {color:#b0a499; background-color:transparent; border-bottom:none}
a:active {color:#d6c8ba}

#navbar{
    position:absolute; 
    left:5px; 
    top:100px; 
    width:725px; 
    height:25px; 
    /* border: solid black 1px; */
    background-color: white;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#photos{
    position:absolute; 
    left:5px; 
    top:130px; 
    width:500px; 
    height:500px; 
    /* border: solid black 1px; */
background-color: white;
}

#sidebar{
    position:absolute; 
    left:510px; 
    top:130px; 
    width:220px; 
    height:500px; 
    /* border: solid black 1px; */
    background-color: white;
}

img{
    display: block;
    float: left;
}


.side_p{
    margin:5%;
}

.title{
      font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:2em;
  color:#ddcfa5;
  position:absolute;
  left:30px;
  top:-10px;
}