body{
    /* background-color: #FEF3C6; */
}

.big{
    font-size:10em;
    color: black;
}

#content {
 background:#fcfcfc;
 width:560px;
 border:3px solid #d6c8ba;
 padding:10px 15px;
 float:left;
 margin:30px 10px 10px 25px;
 min-height:400px;
 _height:400px;
}

#nav {
 margin:38px 10px 20px 640px;
 background:#fcfcfc url(/web/20111110031945im_/http://www.indiepages.com/seriestwo/pix/logo2.gif) no-repeat 3px bottom;
 border:3px solid #d6c8ba;
 padding:15px 20px 200px 15px;
 font-size:14px;
 width:120px;
 font-weight:bold;
 line-height:1.5em;
 white-space:nowrap;
}

#logo{
    position:absolute;
    left:5px;
    top:5px;
    width:725px;
    height:90px;
    border: solid black 1px;
}

#navbar{
    position:absolute; 
    left:5px; 
    top:100px; 
    width:725px; 
    height:25px; 
    border: solid black 1px;
}

#photos{
    position:absolute; 
    left:5px; 
    top:130px; 
    width:500px; 
    height:500px; 
    border: solid black 1px;

}

#sidebar{
    position:absolute; 
    left:510px; 
    top:130px; 
    width:220px; 
    height:500px; 
    border: solid black 1px;
}


.side_p{
    margin:5%;
}