body{
    background-color: white;
    font-family: serif;
  font-optical-sizing: auto;
  font-weight: 320;
  font-style: normal;
  font-size:16px;
}
#logo{
    position:absolute;
    left:5px;
    top:20px;
    width:725px;
    height:90px;
}

a {color:#b0a499; text-decoration:none; border-bottom:none}
a:visited {color:#b0a499}
a:hover {color:#b0a499; background-color:transparent; border-bottom:none}
a:active {color:#d6c8ba}

#navbar{
    position:absolute; 
    left:5px; 
    top:100px; 
    width:725px; 
    height:25px; 
    background-color: white;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#newnav{
    position:absolute; 
    border: solid black 1px;
    background-color:white;
    left:10px; 
    top:160px; 
}

#photos{
    position:absolute; 
    left:5px;
    top:130px;
    width:500px;
    height:500px;
    background-color: white;
}

#home_sidebar{
    position:absolute; 
    left:410px; 
    top:200px; 
    max-width:220px;
    border: solid black 1px;
    background-color: white;
}

#news{
    position:absolute; 
    left:50px; 
    top:500px; 
    max-width:220px;
    border: solid black 1px;
    background-color: white;
    /* margin:5%; */
}

#music_sidebar{
    position:absolute; 
    left:380px; 
    top:400px; 
    width:130px; 
    border: solid black 1px;
    background-color: white;
}

#music_videos{
    position:absolute; 
    left:100px; 
    top:250px; 
    width:130px; 
    border: solid black 1px;
    background-color: white;
}

#gallery_sidebar{
    position:absolute; 
    left:380px; 
    top:150px; 
    max-width:140px; 
    border: solid black 1px;
    background-color: white;
}
#links_sidebar{
    position:absolute; 
    left:180px; 
    top:150px; 
    width:100px; 
    border: solid black 1px;
    background-color: white;
}


#events_sidebar{
    position:absolute; 
    left:100px; 
    top:500px; 
    max-width:500px; 
}

#events_sidebar td{
    border: solid black 1px;
    background-color:white;
}

img{
    display: block;
    float: left;
}


.side_p{
    margin:5%;
}

.title{
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size:2em;
  color:#ddcfa5;
  position:absolute;
  left:30px;
  top:-10px;
}

.centered{
    text-align: center;
}